<div class="article-info">

    <div class="article-info-inner">
      {% if article.image %}
        <a href="{{ article.url }}">
          {%- include 'basic-responsive-image', type: article.image -%}
          <noscript>
            <img src="{{ article.image | img_url: '800x' }}" alt="{{ article.image.alt }}">
          </noscript>
        </a>
      {% endif %}

      <h3 class="blog-title">
        <a href="{{ blog.url }}">{{ blog.title }}</a>
      </h3>

      <h2 class="article-title">
        <a href="{{ article.url }}">{{ article.title }}</a>
      </h2>
      {% assign published_at = article.published_at | date: '%b %d, %y' %}
      {% if section.settings.show_date %}
        <p class="posted">{{ article.author }} | {{ published_at }}</p>
      {% endif %}

      <div class="comments">
        <a href="{% if article.comments_enabled? %}{{ article.comment_post_url }}{% endif %}">
          <span class="fa fa-comment comments-icon"></span>
          <span class="comments-count">
            {% if number_of_comments %}
              {{ number_of_comments }}
            {% else %}
              0
            {% endif %}
             Comments
          </span>
        </a>
      </div>

      <div class="article-content">
        {% if article.excerpt == blank %}
          {{ article.content | strip_html | truncatewords: 50 }}
        {% else %}
          {{ article.excerpt }}
        {% endif %}
      </div>

      <div class="readmore">
        <a href="{{ article.url }}">
          {{ 'blogs.article.read_more' | t }}
          <span class="fa fa-caret-right caret-icon"></span>
        </a>
      </div>

    </div>
  </div>
